{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CongoBowl HomePage</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><button>CongoBowl</button></li>
                <li><button><a href="{%url 'produits' %}">Produits </a></button></li>
                <li><button><a href="{% url 'apropos' %}">A proppos</a></button></li>
                <li><button><a href="{% url 'sign_in' %}">Compte</a></button></li>
            </ul>
        </nav>
    </header>

</body>
</html>