{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="{% url 'sign_in'%}">
            <fieldset>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">S'inscrire</button>
            </fieldset>
        </form>
        
        <p>
            Vous avez déjà un compte? Cliquez <a href="{% url 'log_in' %}">ici</a>.
        </p>
    </div>
</body>
</html>